In [1]:
# Import required libraries and the utility function
from utils.database_utils import get_postgres_conn
import pandas as pd

In [2]:
# Connect to Postgres using the utility function
conn = get_postgres_conn()
if conn is not None:
    print("Connected to Postgres!")
else:
    print("Failed to connect to Postgres.")

Connected to Postgres!

In [3]:
# Query a projects table
with conn.cursor() as cur:
    cur.execute('SELECT * FROM projects LIMIT 100')
    rows = cur.fetchall()
    cursor = rows

docs = list(cursor)
if docs:
    df = pd.DataFrame(docs)
    display(df)
else:
    print("No documents found in the collection.")

,id,name,description,created_at,updated_at
0,85535e07-3d24-4ec4-8aba-b60d8fcbe74c,Test,None,2025-09-11 08:44:58.252874+00:00,2025-09-11 08:44:58.252874+00:00
1,ed8055d3-304e-48ee-a566-fcabd1086fd2,sdfsdfsdf,None,2025-09-11 10:46:40.889008+00:00,2025-09-11 10:46:40.889008+00:00